  <!-- isi -->
  <div class="row">
    <div class="col text-center">
      <img src="img/img-1.jpg" alt="Aqil Emeraldi" class="rounded-circle" width="200"> <!-- relative terhadap folder public -->
      <h1 class="display-4">Aqil Emeraldi</h1>
      <p class="lead">Mahasiswa</p>
    </div>
  </div>